.container {
    background-image: url('../images/hero.jpg');
    width: 100%;
    height: 100vh;
    background-position: center bottom;
}

.promo-container {
    
}

.promo-container img {
    float: left;
    width: 25%;
}