*,
*::after,
*::before {
  box-sizing: border-box;
}

/*
===========================
Navbar
===========================
*/
.nav-bar {
  position: relative;
  top: 1.5em;
  max-width: 60em;
  border-radius:  .5em;
  background: rgb(99,99,99);
  background: linear-gradient(0deg, rgba(99,99,99,1) 50%, rgba(122,122,122,1) 50%);
  padding:  .2em;
  margin: 0 auto;
}

.nav-bar span {
  display: inline-block;
  margin-left: .2em;
  padding: .1em 1.5em;
  border: 2px solid rgb(99,99,99);
}

.nav-bar a {
  color: #fff;
}
.nav-bar input {
  width: 7em;
  border-radius: 1em;
}

.container {
  background-image: url("../images/hero.jpg");
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  background-position: center bottom;
}

.promo-container {
}

.promo-container img {
  float: left;
  width: 25%;
  border-right: 0.1em solid #fff;
  border-top: 0.1em solid #fff;
}
